# Data
/toxicity_model/data/
/toxicity_model/src/translation_cache/
/api/model/roberta-finetune-toxic/


# Mac Os-specfifc storage files
.DS_Store

# Virtual environment
venv

# Python stuff
__pycache__/